.background {
 background: rgba(201, 234, 252, 0.51);
}

.app {
 background: linear-gradient(89deg, rgb(9, 51, 142) 0.1%, rgb(26, 138, 211) 51.5%, rgb(136, 196, 228) 100.2%);
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(144, 187, 239, 0.08);
  font-family: "Roboto", sans-serif;
}

.search-bar,
.search-button {
  font-size: 16px;
  padding: 20px;
  border: none;
  border-radius: 5px;
}

.search-bar {
  background-color: #dde6f3;
  color: rgba(39, 33, 66, 0.4);
  width: 75%;
}

.search-button {
  margin-left: 5px;
  background-color: #6b8195;
  color: white;
  line-height: 1;
}

main {
  padding: 30px 0;
}

.current-city {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
  color: whitesmoke;
}

.current-details {
  color: #a9bfd3;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.current-details strong {
  color: #d2525a;
}

.current-weather {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.current-temp {
  font-size: 40px;
}
.current-icon {
  position: relative;
  top: -5px;
  font-size: 40px;
  margin-right: 10px;
}

.current-value {
  font-size: 80px;
  font-weight: bold;
}

.current-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}

footer {
  border-top: 1px solid #abc5dd;
  text-align: center;
  padding-top: 15px;
  color:whitesmoke;
}

a {
  color: #573f95;
}
